@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-main {
  background: rgba(28, 28, 28, 1);
  position: relative;

  /* &:after {
     content: '';
     width: 100%;
     height: 100%;
     background: url("../img/bg.svg");
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0.15;

     z-index: 1;
   }*/

  &__content {
    padding: 150px 0 100px 0;
    @media (max-width: $breakpoint-md) {
      padding: 115px 0 0 0;
    }

    & .heading {
      margin-bottom: 24px;
      color: $whiteColor;
      font-weight: 600;

      @media (max-width: $breakpoint-md) {
        margin-bottom: 43px;
      }

      & span {
        position: relative;

        &:after {
          content: '';
          width: 120%;
          height: 25px;
          left: -8%;
          bottom: -20px;
          position: absolute;
          background: url("../img/decor-2.svg") no-repeat center;
          background-size: contain;
        }
      }

    }

    & .description {
      color: $whiteColor;
      margin-bottom: 40px;
      @include fontSize(16, 18);
      line-height: 1.77;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
    }
  }

  &__bg {

    @media (min-width: 960px) {
      margin-right: calc((-100vw + 920px) / 2);
    }
    @media (min-width: 1240px) {
      margin-right: calc((-100vw + 1220px) / 2);
    }

    & img {
      width: 100%;
    }

    @media (max-width: $breakpoint-md) {
      position: relative;
      width: 100%;
      right: -16px;
      top: 10px;
      z-index: -1;
    }
  }

  /* &__bg {
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: contain;
     position: absolute;
     right: -5%;
     bottom: 0;
     width: 75%;
     height: 96%;
     display: flex;
     align-items: end;
     justify-content: center;

     & img {
       width: 100%;
       height: 100%;
       object-position: bottom;
       object-fit: contain;
     }

     @media (max-width: $breakpoint-md) {
       width: 60%;
       right: 0;
       left: 40%;
       position: relative;
     }

   }*/


  & .benefits {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 44px;
      // gap: 16px 40px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      object-fit: contain;

      &-wrap {
        height: 48px;
        width: 48px;
        margin-right: 24px;
        border-radius: 10px;
        background-color: $whiteColor;
        @media (max-width: $breakpoint-md) {
          height: 40px;
          width: 40px;
          margin: 0 0 16px 0;
        }
      }
    }

    &__heading {
      width: calc(100% - 72px);
      @include fontSize(14, 16);
      font-weight: 400;
      color: $whiteColor;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
    }

    &__item {

    }
  }

}

.s-info {
  padding: 176px 0 0 0;
  @media (max-width: $breakpoint-md) {
    padding: 56px 0 55px 0;
  }

  .heading {
    &__wrap {
      @media (max-width: $breakpoint-md) {
        max-width: 236px;
        margin-bottom: 80px;
      }

      & .decor {
        position: absolute;
        top: calc(100% + 8px);
        left: -20px;
        width: 100%;
        max-width: 383px;
        @media (max-width: $breakpoint-md) {
          max-width: 236px;
        }
      }
    }
  }


  /* & .column {
     &:nth-child(2) {
       .info__item {
         margin-left: 10%;
         width: 90%;
       }
     }

     &:nth-child(even) {
       .info__item {
         position: relative;

         & .decor {
           position: absolute;
           top: 50%;
           left: 50%;

           min-width: 106%;

           transform: translate(-50%, -50%) scaleY(-1);
         }
       }
     }

     &:nth-child(odd) {
       .info__item {
         position: relative;

         & .decor {
           position: absolute;
           top: 65%;
           left: 50%;

           min-width: 106%;
           transform: translate(-50%, -50%);
         }
       }
     }
   }
 */
  & .info {
    &__item {
      margin-bottom: 61px;
      padding: 35px 25px;
      max-width: 340px;
      position: relative;
      @media (max-width: $breakpoint-md) {
        margin: 0 auto 30px auto;
        max-width: 330px;
      }
      @media (max-width: 360px) {
        text-align: center;
      }

      & .decor {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        max-width: none;
        /*  max-width: calc(100% + 40px);
          width: calc(100% + 40px);
  */
        transform: translate(-50%, -50%) scaleY(-1);

        /* @media (max-width: $breakpoint-xl) {
           max-width: calc(100% + 1px);
           width: calc(100% + 1px);
         }*/
      }
    }

    &__heading {
      @include fontSize(14, 16);
    }
  }
  & .column {
    &:nth-child(2n+3){


      @media (max-width: 360px) {
        margin-left: -20px;
      }
      .info__item {
        padding-bottom: 40px;

        & .decor {
          transform: translate(-50%, -50%);
        }

        @media (max-width: $breakpoint-md) {
          margin-left: 0;
        }
        @media (max-width: 360px) {
          padding: 25px 0 30px 0;
        }
      }
    }

    &:nth-child(even) {
      @media (max-width: 360px) {
        margin-left: 20px;
      }
      .info__item {
        @media (max-width: $breakpoint-md) {
          margin-right: 0;

        }
        @media (max-width: 360px) {
          padding: 30px 0 25px 0;
        }
      }
    }
  }

}

.s-about {
  padding-bottom: 0;

  &__inner {

  }

  & .heading {
    margin-bottom: 20px;
    color: $primaryColor;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;

    }
  }

  & .description {
    & p, & {
      @include fontSize(14, 18);
      line-height: 1.5;
    }

    & p + p {
      margin-top: 20px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-wrap {
      padding-bottom: 100%;
      min-height: 480px;
      position: relative;

      margin: 0 auto -20px auto;


    }
  }
}

.s-steps {
  margin-bottom: 160px;
  padding-top: 20px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 72px;
  }

  & .heading {
    padding-left: 39px;
    padding-top: 24px;
    width: 100%;
    max-width: min-content;

    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 26px;
      }

      & .decor {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }

  .steps {
    &__column {
      margin-bottom: 16px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 8px;
      }
    }

    &__item {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(101, 52, 201, 0.25);
      border-radius: 10px;
      padding: 20px;
      height: 100%;
      @include transition(.5);

      &:hover {
        background-color: $accentColor;

        & .steps__description, & .steps__heading, & .steps__number {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    & .steps__description, & .steps__heading, & .steps__number {
      @include transition(.4);
      color: red;
    }

    &__number {
      @include fontSize(40, 64);
      margin-right: 20px;
      line-height: 1.2;
    }

    &__heading {
      @include fontSize(18, 20);
      width: calc(100% - 100px);
    }

    &__description {
      font-size: 14px;
      line-height: 1.42;
      margin-top: 16px;
      @media (max-width: $breakpoint-md) {
        margin-top: 8px;
      }
    }
  }
}

.s-services {
  //padding: 76px 0 63px 0;
  margin-bottom: 160px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 72px;
  }

  & .heading {
    color: $whiteColor;

    &__wrap {
      background: $accentColor;
      border-radius: 10px;
      padding: 24px 16px 70px 16px;
      height: 100%;
      @media (max-width: $breakpoint-md) {
        padding: 16px;
        margin-bottom: 16px;
        height: auto;
      }

      & .decor {
        position: absolute;
        bottom: -27px;
        right: 0;
        width: 70%;
        @media (max-width: $breakpoint-md) {
          display: none;
        }
      }
    }
  }

  & .service {
    &__list {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 8px 20px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
      }
    }

    &__name {
      width: calc(100% - 46px);
    }

    &__icon {
      color: #6534c9;
      font-size: 25px;
      margin-right: 16px;
    }

    &__item {
      padding: 18px 16px;
      background-color: #fff;
      border: 1px solid rgba(101, 52, 201, 0.25);
      border-radius: 10px;
      position: relative;

      /* &:before {
         content: '\e901';
         font-family: 'icomoon';
         color: #6534c9;
         font-size: 25px;
         width: 25px;
         height: 25px;
         position: absolute;
         left: 18px;
         top: 50%;
         transform: translateY(-50%);
       }*/
    }
  }
}

.s-advantages {
  margin-bottom: 160px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 72px;
  }

  & .heading {
    &__wrap {
      & .decor {
        position: absolute;
        top: calc(100% + 8px);
        left: -20px;
        width: 100%;
        max-width: 488px;
        @media (max-width: $breakpoint-md) {
          max-width: 302px;
          left: -3px;
          top: calc(100% + 17px);
        }
      }
    }
  }

  & .description {
    margin-top: 124px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
      margin-top: 61px;
    }
  }

  & .benefits {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 16px 40px;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;

      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      object-fit: contain;

      &-wrap {
        height: 40px;
        width: 40px;
        margin-bottom: 24px;
        border-radius: 8px;
        background-color: $accentColor;
      }
    }

    &__description {
      line-height: 1.5;
      @include fontSize(14, 16);

    }

    &__heading {
      margin-bottom: 8px;
      @include fontSize(16, 20);

    }

    &__item {
      box-shadow: 0px 4px 30px 0px rgba(120, 82, 247, 0.06);
      background: #fff;
      border-radius: 10px;
      padding: 16px 24px;
    }
  }
}

.s-rates {
  margin-bottom: 160px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 42px;
    padding-top: 20px;
  }

  &__inner {
    padding: 32px 10% 40px 10%;
    border-radius: 10px;
    border: 2px solid $accentColor;
    background: $whiteColor;
    box-shadow: 0px 4px 10px 0px rgba(120, 82, 247, 0.35);
    @media (max-width: $breakpoint-md) {
      padding: 24px;
    }

  }

  & .heading {
    color: $whiteColor;
    @media (max-width: $breakpoint-md) {
      padding: 0 24px 0 16px;
    }

    & .decor {
      position: absolute;
      top: calc(50% + 4px);
      left: -30px;
      transform: translateY(-50%);
      height: auto;
      z-index: -1;
      min-width: calc(100% + 60px);
      @media (max-width: $breakpoint-md) {
        min-width: 100%;
        left: 0;


      }
    }


    &__wrap {
      margin-bottom: 32px;
    }
  }

  & .btn-primary {
    @media (max-width: $breakpoint-md) {
      margin-top: 16px;
    }
  }

  .tariff {
    &__name {
      margin-bottom: 24px;
      font-size: 20px;
    }

    &__price {
      font-size: 36px;

      &-label {
        font-size: 16px;
        margin-bottom: 2px;
        color: rgba(136, 136, 136, 1);

      }
    }

    &__description {
      @include fontSize(10, 12);
      line-height: 1.5;


      color: $accentColor;

      &-wrap {
        position: absolute;
        right: 14px;
        top: 20px;
        width: 288px;
        height: 148px;
        z-index: 5;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding: 15px 30px;
        @media (max-width: $breakpoint-md) {
          width: 225px;
          height: 111.17px;
          padding: 15px;
          right: -16px;
          top: -20px;
        }

        & .decor {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 104%;
          height: auto;
          transform: translate(-50%, -50%);
        }
      }


    }

    &__services {
      margin-top: 16px;
      padding-top: 20px;
      border-top: 1px solid rgba(226, 228, 229, 1);
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $breakpoint-md) {
        margin-top: 32px;
        column-count: 1;
      }

      & li {
        flex: 0 0 50%;
        margin-bottom: 27px;
        @include fontSize(14, 16);
        padding-left: 36px;
        position: relative;
        @media (max-width: $breakpoint-md) {
          flex: 0 0 100%;
        }

        &:before {
          content: '\e901';
          font-family: 'icomoon';
          color: $accentColor;
          font-size: 25px;
          width: 25px;
          height: 25px;

          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

        }
      }

    }

    &__notification {
      margin-top: 35px;
      @include fontSize(12, 14);
      color: rgba(136, 136, 136, 1);
      @media (max-width: $breakpoint-md) {
        margin-top: 27px;
      }
    }
  }
}

.s-portfolio {
  margin-bottom: 160px;
  padding-top: 35px;
  @media (max-width: $breakpoint-md) {

    margin-bottom: 52px;
  }

  &__content {

  }

  & .heading {
    line-height: 2;
    margin-bottom: 16px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }

    &__wrap {

      & .decor {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: calc(100% + 68px);
        @media (max-width: $breakpoint-md) {
          min-width: calc(100% + 35px);
        }
      }
    }
  }

  & .description {
    margin-bottom: 32px;
  }

  .btn-more {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__wrap {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 18px 27px;
  }

  & .portfolio {
    &__item {
      height: 383px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      @media (max-width: $breakpoint-md) {
        height: 340px;
      }

      &:nth-of-type(4) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666664%;
        -ms-flex: 0 0 66.666664%;
        flex: 0 0 66.666664%;
        max-width: 66.666664%;
        @media (max-width: $breakpoint-md) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 99.999996%;
          -ms-flex: 0 0 99.999996%;
          flex: 0 0 99.999996%;
          max-width: 99.999996%;
        }
      }
    }

    &__info {
      padding: 24px 16px;
    }

    &__heading {
      @include fontSize(18, 20);
      margin-bottom: 8px;
    }

    &__description {
      @include fontSize(14, 16);
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: .5;
    }
  }
}


.s-clients {
  margin-top: 24px;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 56px;
  }

  & .heading {
    @include fontSize(16, 18);
    margin-bottom: 56px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 46px;
    }

    &__line {
      max-width: 560px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        width: calc(100% - 30px);
        max-width: 350px;
      }
    }
  }

  .grid-list {
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    gap: 18px 27px;
    padding-bottom: 60px;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }

    &__i {
      position: relative;
      padding-bottom: 100%;

      @media (max-width: $breakpoint-sm) {

      }

      & .ico {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 4px 50px 0px rgba(0, 114, 210, 0);
        @include transition(.5);
        @media (max-width: $breakpoint-sm) {
          border-radius: 8px;
        }

        &-wrap {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          //overflow: hidden;
          //  filter: grayscale(100%);
          transition: filter .5s;
          display: block;
          @media (max-width: $breakpoint-sm) {

          }

          &:hover {
            & .ico {
              box-shadow: 0px 4px 50px 0px rgba(0, 114, 210, 0.4);
              @include transition(.5);
            }
          }
        }
      }
    }
  }

}


